.header__notebook-container {
    width: 100%;
    display: flex;
    height: 15%;
    justify-content: space-around;
    margin: 1% 0;
    align-items: center;
}

.icon__header-notebook {
    border-radius: 8px;
    padding: 8px;
    height: 25vh;
}

.icon__header-notebook>img {
    width: 10vw;
}

.folder__container {
    list-style: none;
    width: 80%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: flex-start;
    border-radius: 8px;
    height: 15vh;
}

.folder__container>li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 8px;

}

.folder {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}

.folder:hover {
    background-color: var(--linen);
}

.folder > a {
    text-decoration: none;
    color: inherit;
    margin-left: 8px;
}

.subfolder {
    cursor: pointer;
    animation: animeDown 0.3s forwards;
    list-style: none;
}

.subfolder:hover {
    background-color: var(--linen);
}

@keyframes animeDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: inherit;
        transform: translateY(inherit);
    }
}

@media screen and (max-width:786px) {
    .folder__container{
        flex-wrap: wrap;
        height: fit-content;
    }
}