.header__notebook-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0;
    flex-wrap: wrap;
}

.icon__header-notebook {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 25vh;
}

.icon__header-notebook img {
    width: 10vw;
    object-fit: contain;
}

.folder__container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
}

.folder__container li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    width: 100%;
}

.folder {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.folder:hover {
    background-color: var(--linen);
}

.folder>a {
    text-decoration: none;
    color: inherit;
    margin-left: 8px;
}

.subfolder__container {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.subfolder {
    cursor: pointer;
    animation: animeDown 0.3s forwards;
    list-style: none;
    transition: background-color 0.3s ease;
}

.subfolder:hover {
    background-color: var(--linen);
}

.subfolder a {
    text-decoration: none;
    color: inherit;
}

@keyframes animeDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 786px) {
    .header__notebook-container {
        flex-direction: column;
    }
    .icon__header-notebook img  {
        height: auto;
        width: 25vw;
    }
}