.section__notebook-container {
    width: 95%;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.section__notebook-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section__notebook-container h2 {
    font-size: 28px;
    margin-bottom: 18px;
}

.section__notebook-container h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

.section__notebook-container h4 {
    font-size: 20px;
    margin-bottom: 14px;
}

.section__notebook-container h5 {
    font-size: 18px;
    margin-bottom: 12px;
}

.section__notebook-container h6 {
    font-size: 16px;
    margin-bottom: 10px;
}

.section__notebook-container p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.notebook {
    position: relative;
    padding: 40px 20px;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
}

.notebook h1 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

.notebook p {
    text-align: justify;
}

.notebook .line {
    position: relative;
    padding: 0 10px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #e0e0e0;
}

.notebook .line:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.notebook .line:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    height: 8px;
    width: 8px;
    background-color: #e0e0e0;
    border-radius: 50%;
    transform: translateY(-50%);
}

.img-example {
    max-width: 100%;
}

.list-example p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #333;
}

.list-example .tag {
    color: #f92672;
    font-weight: bold;
}

.list-example .attr {
    color: #70c24a;
    font-weight: bold;
}

.list-example .entity {
    color: #e6db74;
    font-weight: bold;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #232028;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-to-top:hover {
    opacity: 1;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

@media screen and (max-width:768px) {
    .section__notebook-container {
        width: 100%;
    }
}