.nav__container {
  display: flex;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  background-color: #161119;
  color: #fff;
  padding: 10px;
  animation: animeLeft 0.3s forwards ease;
  max-width: 100vw;
  height: 50%;
  gap: 8px;
  width: 100%;
}

.links__nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.shortcut__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-shadow: 1px 2px 2px var(--black);
  height: 100%;
  background: rgba(255, 255, 255, 0.1); 
  padding: 10px;
  backdrop-filter: blur(1px); 
  width: 100%;
}


@keyframes animeLeft {
  0% {
      opacity: 0;
      transform: translateX(-10px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .nav__container {
      height: 50%;
      justify-content: space-around;
  }

}