.nav__container {
  display: flex;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  background-color: #161119;
  color: #fff;
  padding: 10px;
  animation: animeLeft 0.3s forwards ease;
  height: 50%;
  gap: 8px;
  width: 100%;
  max-width: 100%;
}

.links__nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.shortcut__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bolder;
  text-shadow: 2px 2px 2px var(--black);
  height: 20vh;
  padding: 10px;
  width: 100%;
  transition: .3s ease;
}

.shortcut__container:hover {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: .3s ease;
}

@keyframes animeLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .nav__container {
    height: 50%;
    justify-content: space-around;
  }

}