.shortcut__img-container{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40%;
    width: 33%;
    border-radius: 4px;
    transition: .3s ease;
    text-align: center;
}

.coolors {
    background-image: url(../../assets/imgs/coolors.webp);
}

.svgrepo{
    background-image: url(../../assets/imgs/svgrepo.webp);
}

.removebg{
    background-image: url(../../assets/imgs/removebg.webp);
}

.squoosh{
    background-image: url(../../assets/imgs/squoosh.webp);
}

.formik{
    background-image: url(../../assets/imgs/formik.webp);
}

.reacticons{
    background-image: url(../../assets/imgs/reacticons.webp);
}

.toastify{
    background-image: url(../../assets/imgs/toastify.webp);
}

.router{
    background-image: url(../../assets/imgs/router.webp);
}

@media screen and (max-width:768px) {
    .shortcut__img-container{
       height: 30vh;
       width: 90vw;
    }
}