  .calendar {
    width: 40%;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0px 2px 2px var(--black);
    user-select: none;
    font-family: 'Open sans', sans-serif;
    overflow: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 1px 1px var(--orange);
  }
  
  .calendar-header {
    background-color: var(--orange);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .calendar-header h1 {
    margin: 0;
    font-size: 24px;
    color: var(--black);
    text-transform: capitalize;
    color: var(--linen);

  }

  th {
    font-size: 20px;
    padding: 10px;
    background-color: var(--linen);
  }
  
  td {
    width: 5%;
    padding: 10px;
    cursor: pointer;
    transition: color .2s ease;
  }
  
  td:hover:not(.today) {
    font-weight: bold;
    color: var(--blue);
  
  }
  
  .empty {
    background-color: var(--white);
  }
  
  .day {
    background-color: var(--white);
  }
  
  .button__calendar {
    background-color:var(--linen);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color .2s ease;
  }
  
  button:hover {
    background-color: var(--red);
  }
  
  .today{
    background-color: var(--red);
    color: var(--white);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;    
    margin: 0 auto;
    padding: 2px;
    transition: background-color .2s ease;
  }
  .today:hover{
    background-color: var(--blue);
  }

  @media screen and (max-width:768px) {
    .calendar{
        width: 99vw;
    }
  }