.home__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 24px;
    height: 100%;
    animation: animeLeft .3s ease forwards;
}


@media screen and (max-width:768px) {
    .home__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}


@keyframes animeLeft {
    0%{
        margin-left: -15px;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}