.home__container{
    padding: 24px;
    height: 100%;
    animation: animeLeft .3s ease forwards;
}

.climeWeather__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

@media screen and (max-width:768px) {
    .home__container{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    .climeWeather__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        min-height: fit-content;
    }
}


@keyframes animeLeft {
    0%{
        margin-left: -15px;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}