.header-container{
    width: 100%;
    height: 15vh;
    background-color: var(--black);
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 1500px;
}

.btn-container{
    flex-wrap: wrap;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

@media screen and (max-width:850px) {
    .header-container{
        height: fit-content;
        justify-content: space-around; 
    }
}

@media screen and (max-width:768px){
    .header-container{
        flex-direction: column;  
        width: 100vw;
    }

    .btn-container{
        flex-direction: column;
        width:  100vw;
    }
}
