.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.titleSection{
    font-size: 3rem;
}

.miniTitle{
    font-size: 2.2rem;
}

.image{
    margin: 1% 0 1% 5%;
    max-width: 90%;
    box-shadow: 0 0px 1px black;
}