@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  
}

a{
  color: inherit;
  text-decoration: none;
}

:root{
  --black:#211A1E;
  --blue:#2F6690;
  --red:#D64550;
  --white:#FDFFFC;
  --linen:#F7ECE1;
  --orange:#FA9500;
}

.flex-col,
.flex-row{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.fit{
  min-height: fit-content;
  min-width: fit-content;
}
