.nav__links-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: animeLeft 0.3s forwards ease;
    margin: 10px;
}

.nav__links-title {
    padding: 10px;
    width: 30vw;
    height: 10vh;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.nav__links-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 40%;
    gap: 8px;
    justify-content: space-evenly;
}

.nav__links-title:hover {
    background-color: #232028;
}

.activeNav {
    background-color: #e85a4f;
    color: #fff;
    border: 2px solid #e85a4f;
    border-radius: 4px;
}

.activeNav:hover {
    background-color: #e85a4f;
    transition: 0.3s ease;
    border: 2px solid #e85a4f;
}

.inactiveNav {
    background-color: #161119;
    color: #fff;
    border: 2px solid #232028;
    border-radius: 4px;
}

.nav__links-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    animation: animeDown 0.3s forwards ease;
    gap: 4px;
    border-radius: 4px;
}

.nav__links-item:hover {
    background-color: #232028;
    color: var(--white);
}

@keyframes animeLeft {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animeDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .nav__container {
        height: 50%;
        justify-content: space-around;
    }

    .nav-img {
        width: 25%;
        object-fit: cover;
    }

    .nav__links-wrapper {
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
    }

    .nav__links-title {
        font-size: 0.7rem;
        width: 90vw;
    }

    .nav__links-item {
        font-size: 0.7rem;
    }
}
